<RadSideDrawer class="nt-drawer" tkExampleTitle tkToggleNavButton [gesturesEnabled]="true" drawerContentSize="180">
  <StackLayout tkDrawerContent class="nt-drawer__content nt-drawer__list">
    <Label text="Powered by: bacon" class="nt-drawer__header h5"></Label>
    <Label class="nt-drawer__list-item sideLabel nav-link nav-link-ns" textWrap="true" (tap)="closeDrawer()"
      [nsRouterLink]="['/magazine']"></Label>
    <Label class="nt-drawer__list-item sideLabel nav-link nav-link-ns" textWrap="true" (tap)="closeDrawer()"
      [nsRouterLink]="['/accounts']"></Label>
  </StackLayout>
  <page-router-outlet tkMainContent></page-router-outlet>
</RadSideDrawer>
