<MDBottomNavigation (selectedIndexChanged)="onTabChange($event)">
  <MDTabStrip>
    <ng-container *ngFor="let tab of tabs">
      <ng-container>
        <MDTabStripItem>
          <label [text]="tab.title"></label>
        </MDTabStripItem>
      </ng-container>
    </ng-container>
  </MDTabStrip>
  <ng-container *ngFor="let tab of tabs">
    <ng-container>
      <MDTabContentItem>
        <StackLayout>
          <named-outlet [name]="tab.tabName"></named-outlet>
        </StackLayout>
      </MDTabContentItem>
    </ng-container>
  </ng-container>
</MDBottomNavigation>
